@import "tailwindcss";

@theme {
    /* This is where you define custom Slate neural variables if needed */
    --color-neural-border: var(--color-slate-800);
}

:root {
    --background: #020617; /* Slate 950 */
    --foreground: #f8fafc; /* Slate 50 */
}

@layer base {
    body {
        @apply bg-slate-950 text-slate-200 antialiased;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}